<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- poppins fonts from google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <!-- custom css file -->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>dispatch | your sms metrics</title>
</head>
  <body>
   
        <header>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu
              </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#"><span><i class="far fa-paper-plane"></i></span>Send SMS</a>
                  <a class="dropdown-item" href="#"><span><i class="fas fa-sign-out-alt"></i></span>Logout</a>
                </div>
            </div>
            <h1 class="brand">dispatch</h1>
          </header>
          <main>
            <div class="container">
                <div class="bio row">
                    <img src="https://pbs.twimg.com/profile_images/725313461765427204/2Od92RM7_400x400.jpg" alt="user avatar" class="	col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                  <div class="bio-info ">
                    <h2>Christian Nwamba</h2>
                  <p>hello@example.com</p>
                  </div>
                </div>
             <hr>
             <div class="container">
               <div class="acc">
                  <h4>Account Details</h4>
                  <div class="row">
                      <p class="stat col-xl-10 col-lg-10 col-md-9 col-sm-6 col-xs-6"><span class="counter">0</span><br> <br> message(s) remaining</p> 
                    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-xs-6">
                        <p>Balance: <span>0.00</span></p>
                        <button type="submit" class="btn btn-md action"> <span><i class="fas fa-wallet"></i></span>FUND WALLET</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </main>
    <footer>

    </footer>
    </div>
    <!-- bootstrap plugins-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>