<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- poppins fonts from google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <!-- custom css file -->
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>dispatch | welcome aboard</title>
</head>
  <body>
   
    <header>
        <h1 class="brand">dispatch</h1>
       
    </header>
    <div>
    <main>
       <div class="container">
       <div class="hero">
           <img src="./img/undraw_messages1_9ah2.svg" alt="">
       </div>
       <div>
        <div class="oauth">
            <p>Welcome to dispatch. <span class="info"><a href="#">Learn more</a></span></p>
        <button type="submit" class="btn btn-md light auth"><span><i class="fab fa-google"></i></span>Sign in with Google</i></button>
        <button type="submit" class="btn btn-md auth"><span><i class="fab fa-facebook-f"></i></span> Sign in with Facebook</button>  
        </div>    
       </div>
    </div>     

    </main>
    <footer>

    </footer>
    </div>
  </body>
</html>