<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- font awesome cdn -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- poppins fonts from google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

    <!-- custom css file -->
    <link rel="stylesheet" href="./views/css/custom.css">
    <title>dispatch | web sms just for you</title>
</head>
  <body>
   
    <header>
        <h1><a href="./views/index.hbs" class="link">dispatch</a></h1> 
    </header>
    <div class="container">
    <main>
        <div class="form">
        <div  class="contact-form">
            <form action="/" method="post" enctype="multipart/form-data">
            <!-- sender details -->
            <div class="form-row ">
                <div class="form-group col-md-7 col-sm-5">
                    <label for="inputName">Sender Name</label>
                    <input type="text" maxlength="30" placeholder="James Bond" class="form-control" id="senderName" name="senderName" required>
                </div>
                <div class="form-group col-md-5 col-sm-6">
                <label for="inputNumber">Phone Number</label>
                <select id="senderNumber" name="senderNumber" class="form-control" required>
                  <option selected>Choose...</option>
                  <option>+2349099195421</option>
                  <option>+2347056322074</option>
                </select>
                </div>
            </div>
            <!-- contacts .csv file upload-->
            <div>
                 <p>Upload recipient contacts. <a href="https://www.wikihow.com/Create-a-CSV-File" class="info">How create a .CSV file</a></p>
            </div>
            <div class="form-row">
               <div class="form-group col-md-12"> 
               <div class="custom-file">
                 <input type="file" class="custom-file-input" id="inputFile" name="csvFile" required>
                 <label class="custom-file-label" for="inputFile">upload contacts .csv file </label>
               </div>
               </div>
            </div>
            <!-- message textbox -->
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputMessage">Message</label>
                    <textarea maxlength="150" class="form-control" placeholder="enter your message (150 characters max.)" rows="5" id="message" name="message" required></textarea>
                </div>
            </div>
            <!-- submit button -->
            
            <button type="submit" class="btn btn-md btn-primary">send message</button>
        </form>       
        </div> 
        </div>
    </main>
    <footer >

    </footer>
    </div>
  </body>
</html>